
@{
    ViewBag.Title = "UpdateAddress";
}
<h2>Update Address Details</h2>
<style>
    #map {
        height: 100%;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #locationField, #controls {
        position: relative;
        width: 480px;
    }

    #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 106%;
    }

    .container {
        padding-right: 15px;
        padding-left: 10%;
        margin-right: auto;
        margin-left: auto;
        padding-top: 5%;
    }

    .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
    }

    #address {
        /*border: 1px solid #000090;
            background-color: #f0f0ff;*/
        width: 480px;
        padding-right: 2px;
        padding-top: 5%;
    }

        #address td {
            font-size: 10pt;
        }

    .field {
        width: 99%;
    }

    .slimField {
        width: 80px;
    }

    .wideField {
        width: 200px;
    }

    #locationField {
        height: 20px;
        margin-bottom: 2px;
    }
</style>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<script src="~/Scripts/angular.js"></script>
<script src="~/Content/Datatables/scripts/jquery.js"></script>
<script src="~/Scripts/Addresses.js"></script>
<script src="~/Content/Datatables/scripts/dirPagination.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkPhtSQNo3X6V7hJ5Tv9vpAFcs4_Af-k4&libraries=places&callback=initAutocomplete"
        async defer></script>
<div ng-app="myApp">
    <div ng-controller="myCtrl">
        <div class="form-horizontal" role="form">
            <div class="container" style="padding-left:20%">
                <input type="hidden" class="form-control" ng-model="id">
                <div class="form-group" id="locationField">
                    <input class="form-control" id="autocomplete" placeholder="Enter your address"
                           onFocus="geolocate()" type="text" />
                </div>
                <div id="address">
                    <div class="form-group">
                        <label for="Address">Address Line1:</label>
                        <input class="form-control" id="route" ng-model="Address" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="City">City:</label>
                        <input class="form-control" id="locality" ng-model="Cit" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="State">State:</label>
                        <input class="form-control" id="administrative_area_level_1" ng-model="St" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="Country">Country:</label>
                        <input class="form-control" id="country" ng-model="Co" disabled="true">
                    </div>
                    <div class="form-group">
                        <label for="ZipCode">ZipCode:</label>
                        <input class="form-control" id="postal_code" ng-model="Code" disabled="true">
                    </div>
                </div>
                <div class="form-group" style="padding-left:20%">
                    <input type="submit" id="btnUpdate" class="btn btn-warning" value="Update" ng-click="UpdateAddr()" />
                    @*<button id="btnUpdate" class="btn btn-warning" value="Update" ng-click="UpdateDetails()">Update</button>*@
                    <a href="~/Address/GooglePlaces">
                        <input type="button" class="btn btn-success" value="Back">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var placeSearch, autocomplete;
    var componentForm = {
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('autocomplete')),
            { types: ['geocode'] });

        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>


